body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lightContainer {
    height: 60vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.light {
    border-radius: 50%;
    height: 30%;
    width: 80%;
    margin: 2%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.selected {
    box-shadow: 0 0 175px white, 0 0 175px white, 0 0 75px white, 0 0 75px yellow;
}